/* global.css */
@font-face {
  font-family: "robotoCondensed";
  src: url("./fonts/RobotoCondensed-Regular.ttf");
}
* {
  box-sizing: border-box;
}
html {
  font-size: 1.25em;
}
body {
  font-family: "robotoCondensed", "Work Sans", sans-serif;
}
h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
p {
  font-weight: 300;
  margin-bottom: 1.5rem;
  line-height: 1.5;
  hyphens: auto;
}
a {
  color: #939;
  text-decoration: none;
}

.wrap {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
}

.bounds span {
  color: #e9e5f0;
  margin-right: 20px;
}

/* line 13, ../sass/global.sass */
.header {
  background: transparent;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 1rem;
}
/* line 17, ../sass/global.sass */
.header--logo {
  margin: 0;
}

.header img {
  height: 60px;
  width: 200px;
  object-fit: cover;
}

.header img:hover {
  opacity: 50%;
}

/* line 23, ../sass/global.sass */
.header--logo a {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 auto;
}
/* line 25, ../sass/global.sass */
.header--logo a:hover {
  color: rgb(127, 127, 127);
}
/* line 27, ../sass/global.sass */
.header--logo .selected {
  color: #fff;
}
/* line 29, ../sass/global.sass */
.header--logo .chevron {
  fill: rgba(255, 255, 255, 0.3);
  width: 7px;
  height: auto;
  margin: 0 10px;
}
/* line 34, ../sass/global.sass */
.bounds nav {
  display: flex;
  float: right;
  margin-top: 15px;
  align-items: center;
  justify-content: center;
}

.miniNav {
  font-size: small;
  min-height: 15px;
  background: #ffc400;
  text-align: center;
  padding-top: 1px;
}

.miniNav a {
  margin-left: 10px;
  color: #000;
  text-decoration: underline;
}

button {
  font-family: "robotoCondensed";
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  font-weight: 600;
  margin: 0 10px;
  width: 125px;
  padding: 10px 0;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
  transition: 0.4s;
}

.signup {
  color: white;
  background-color: rgba(104, 85, 224, 1);
}

.secondsignup {
  color: #332a40;
  border: 2px solid rgba(104, 85, 224, 1);
  border-radius: 15px;
}

.cancel {
  border-radius: 15px;
  border: 2px solid rgba(104, 85, 224, 1);
}

.signin {
  color: rgb(104, 85, 224);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(104, 85, 224, 1);
}

button:hover {
  color: white;
  box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
  background-color: rgba(104, 85, 224, 1);
}

.course--module {
  border: 2px solid #7ca5c4;
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  display: block;
  transition: margin-left 1s, background 1s, box-shadow 1s;
}

.course--module:hover {
  background: #7ca5c4;
  margin-left: 10px;
  box-shadow: 0 0 10px rgba(104, 85, 224, 0.6);
}

.course--module:hover .course--label,
.course--module:hover .course--title,
.course--module:hover .course--add--title {
  color: whitesmoke;
}

.course--label {
  color: #212121;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.25rem;
  transition: color 250ms;
}
.course--title {
  color: #2c2c2c;
  font-weight: 700;
  font-size: 1.25rem;
  transition: color 250ms;
}
.course--add--module {
  background: #e7ecef;
  color: #212121;
  font-weight: 300;
  font-size: 1.25rem;
}
.course--add--title .add {
  width: 20px;
  height: auto;
  margin-right: 5px;
  fill: #57496e;
}
.course--detail--title {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid #888;
  margin: 3rem 0 0.5rem;
  font-size: 0.9rem;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.course--name {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
  color: #47395e;
}
.course--detail--list {
  font-weight: 300;
  margin: 0 0 1.5rem 1rem;
  line-height: 1.5;
}
.actions--bar {
  padding: 1rem 0;
}
.validation--errors {
  background: #e9e5f0;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 2.5rem;
}
.validation--errors h3 {
  color: #800;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.validation--errors ul {
  font-weight: 300;
  margin-left: 1rem;
  line-height: 1.25;
}
.validation--errors li {
  margin-bottom: 0.5rem;
}
.validation--errors li:last-child {
  margin-bottom: 0;
}

.form--centered {
  max-width: 510px;
  margin: 0 auto;
  padding: 0 1rem;
}
form {
  margin-bottom: 2.5rem;
}
label {
  display: block;
  font-weight: 300;
  margin-bottom: 0.25rem;
}
input,
textarea {
  display: block;
  width: 100%;
  color: #332a40;
  border-radius: 0.5rem;
  border: 1px solid #8c789b;
  padding: 0.5rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
textarea {
  min-height: 300px;
}
.button {
  background: #7ca5c4;
  color: #fff;
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border: 0;
  margin: 0 0 0.5rem 0;
  display: block;
  width: 210px;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: bold;
  transition: opacity 1s, color 1s;
}
.button:last-child {
  margin-bottom: 0;
}
.button:hover {
  cursor: pointer;
  background-color: #7ca5c4;
  opacity: 90%;
}

.button-secondary {
  color: #7ca5c4;
  background: none;
  box-shadow: 0 0 0 2px #7ca5c4 inset;
  transition: box-shadow 1s, color 1s;
}
#7ca5c4 input:focus,
button:focus,
.button:focus,
textarea:focus {
  border: none;
  border-radius: 0;
  outline: 2px solid #332a40;
}

@media screen and (min-width: 685px) {
  .header--signedin li {
    display: inline-block;
    margin-left: 0.5rem;
    line-height: 1;
  }
  .main--grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    grid-auto-rows: 1fr;
  }
}
@media screen and (min-width: 800px) {
  .main--grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main--flex {
    display: flex;
  }
  .main--flex div:first-child {
    flex-basis: 62%;
  }
  .main--flex div:last-child {
    margin-left: 8%;
    flex-basis: 30%;
  }
  .course--detail--title {
    margin: 1.5rem 0 0.5rem;
  }
  .button {
    margin: 0 0.5rem 0 0;
    display: inline-block;
  }
}

.reactmarkdown {
  padding: 40px;
}
